#topo {
    display: inline-flex;
    flex-direction: row;
}
.botao {
    width: 200px;
    height: auto;
}

table {
    border: 1px solid #000;
    height: 40px;
    width: 1200px;
}

td {
    border: 1px solid #000;
    height: 40px;
    width: 1200px;
}